.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #2e7d32; /* Verde escuro */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem; /* Pode estar deslocando o conteúdo */
    z-index: 1000;
    box-sizing: border-box; /* Isso ajuda a incluir padding na largura total */
}

.logo {
    height: 3.3rem;
    width: auto; /* Deixe a logo com largura automática */
    max-width: 160px; /* Limite a largura máxima */
    object-fit: contain; /* Garante que a logo mantenha suas proporções */
}

/* Mostrar o botão de menu apenas em telas menores */
.menu-toggle {
    display: none; /* Escondido por padrão */
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* Navegação padrão para telas maiores */
nav {
    display: flex;
    gap: 1.5rem; /* Espaçamento entre itens */
}

/* Estilização para os links */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem; /* Tamanho da fonte dos links */
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row; /* Empilha os elementos verticalmente */
        align-items: stretch;
        padding: 1rem 0rem;
    }
    .logo {
        align-self: flex-start;
        margin-bottom: 0.5rem;
    }

    .menu-toggle {
        display: block;
        align-self: flex-end;
        margin-bottom: 0.5rem;
    }

    nav {
        display: none; /* Oculto inicialmente */
        flex-direction: column;
        background: #2e7d32;
        width: 100%;
        text-align: center;
        z-index: 1001;
        box-sizing: border-box;
        padding: 0.5rem 0; /* Adiciona padding vertical ao menu */
        margin: 0; /* Remover margens extras */
        position: static; /* Removido o posicionamento absoluto */
    }

    nav.show {
        display: flex; /* Exibe o menu quando aberto */
    }

    .menu-toggle {
        display: block; /* Mostrar o botão em telas pequenas */
        align-self: flex-end;
        margin-right: 0; /* Remove margem extra */
    }

    .header{
        width: 100%;
    }
}
  


