.hero {
    background: url(../../assets/fundoTelaFinancas.png); /* Verde claro */
    background-size: cover;
    background-position: center;
    padding: 45em 2rem 5rem;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.hero p.subtitulo {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.hero .btn {
    background: #388e3c; /* Verde médio */
    color: white;
    padding: 2rem 5rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5px;
}