.hero {
    background: url(../../assets/fundoTelaFinancas.png);
    background-size: cover;
    background-position: center;
    padding: 7rem 2rem 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.hero-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.hero p.subtitulo {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.hero .btn {
    background: #388e3c; /* Verde médio */
    color: white;
    padding: 2rem 5rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 2rem;
}

.hero .logo {
    width: 40%;
    margin-bottom: 0;
    position: static;
    display: block;
    text-align: left;
}

.hero .logo img {
    width: 100%;
    height: auto;
}

.hero .textos {
    color: #ffffff;
    font-size: 1.2rem;
    position: static;
    width: 50%;
    display: block;
    text-align: right;
}

.hero .titulo {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero .botao {
    padding-top: 1rem;
    display: block;
    margin: 0rem auto 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.section {
    padding: 0%;
}

@media (max-width: 768px) {
    .section {
    padding: 0%;
    }

    .hero {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .hero-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hero .titulo {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .hero .logo {
        width: 60%;
    }

    .hero .textos {
        width: 100%;
        text-align: center;
    }

    .hero h1 {
        font-size: 1rem;
    }

    .hero p.subtitulo {
        font-size: 1.3rem;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .hero .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}