.section {
    padding: 6rem 2rem;
    background: #f9f9f9;
    text-align: center;
}

.aulas {
  display: flex;
  flex-direction: column; /* Manteremos como coluna */
  padding: 2rem;
  background: #65b233;
}


.supertitulo {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #ffffff;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Se você quiser centralizar títulos e descrições individuais, adicione a classe abaixo */
.aula h3 {
    text-align: left; /* Adicione para alinhar o título à esquerda */
}

@media (max-width: 768px) {
    .aulas {
        flex-direction: column; /* Mudar para coluna em telas menores */
        align-items: center; /* Centralizar os itens */
    }

    .supertitulo {
        font-size: 2.5rem; /* Reduzir o tamanho do texto em telas menores */
    }
}