/* You can add global styles to this file, and also import other style files */
html, body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* colors
047036 - Verde escuro
b3df03 - Verde limão
65b233 - Verde médio
*/